flow/Workflows/GoogleAds_AbnormalMonitor_Daily-A2958CA2-6174-F111-AB0F-002248ED884C.json
{
  "properties": {
    "connectionReferences": {
      "shared_new-5fgoogle-20ads-20custom-20connector-5f1534847223faf6ac": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharednew5fgoogle20ads20custom20connector5f1534847223faf6ac_b0d09"
        },
        "api": {
          "name": "shared_new-5fgoogle-20ads-20custom-20connector-5f1534847223faf6ac",
          "logicalName": "new_google-20ads-20custom-20connector"
        }
      },
      "shared_foundry-20gpt-20api-5f1534847223faf6ac-5fa79b8a9c21bf5fc1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedfoundry20gpt20api5f1534847223faf6ac5fa79b8a9c21bf5fc1_d3f3c"
        },
        "api": {
          "name": "shared_foundry-20gpt-20api-5f1534847223faf6ac-5fa79b8a9c21bf5fc1",
          "logicalName": "new_foundry-20gpt-20api"
        }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365_e1f29"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "undefined",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "Recurrence": {
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "startTime": "2026-06-09T01:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "7e349820-93b5-4d20-8487-573c7148489b"
          },
          "type": "Recurrence"
        }
      },
      "actions": {
        "Execute_Google_Ads_Query_(GAQL)": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "47a2dba2-9b5c-47cc-be4c-7c62d81b062c"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_new-5fgoogle-20ads-20custom-20connector-5f1534847223faf6ac",
              "operationId": "GoogleAdsSearch",
              "apiId": ""
            },
            "parameters": {
              "customerId": "YOUR_GOOGLE_ADS_CUSTOMER_ID",
              "developer-token": "YOUR_GOOGLE_ADS_DEVELOPER_TOKEN",
              "login-customer-id": "YOUR_GOOGLE_ADS_MANAGER_CUSTOMER_ID",
              "Content-Type": "application/json",
              "body/query": "SELECT\n  campaign.id,\n  campaign.name,\n  campaign.status,\n  metrics.impressions,\n  metrics.clicks,\n  metrics.ctr,\n  metrics.cost_micros,\n  metrics.conversions\nFROM campaign\nWHERE segments.date DURING LAST_7_DAYS\nLIMIT 50"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "條件_5": {
          "actions": {},
          "runAfter": {
            "初始化變數": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "COST_ZERO_MockData": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "4e79b336-5b9b-4a85-aaa0-bcfa07f123ad"
                },
                "type": "Compose",
                "inputs": {
                  "results": [
                    {
                      "campaign": {
                        "resourceName": "customers/1234567890/campaigns/1111",
                        "id": "1111",
                        "name": "2026_NewProduct_TW",
                        "status": "ENABLED",
                        "startDate": "@{formatDateTime(addDays(utcNow(), -5), 'yyyy-MM-dd')}",
                        "endDate": "2026-07-31"
                      },
                      "metrics": {
                        "costMicros": "0",
                        "impressions": "320",
                        "clicks": "6",
                        "ctr": 0.01875,
                        "conversions": 0
                      },
                      "segments": {
                        "date": "2026-06-01"
                      }
                    },
                    {
                      "campaign": {
                        "resourceName": "customers/1234567890/campaigns/3333",
                        "id": "3333",
                        "name": "2026_Brand_TW",
                        "status": "ENABLED",
                        "startDate": "2026-01-01",
                        "endDate": "2026-12-31"
                      },
                      "metrics": {
                        "costMicros": "18500000",
                        "impressions": "9800",
                        "clicks": "206",
                        "ctr": 0.021,
                        "conversions": 5
                      },
                      "segments": {
                        "date": "2026-06-01"
                      }
                    }
                  ],
                  "fieldMask": "campaign.id,campaign.name,campaign.status,campaign.start_date,campaign.end_date,metrics.cost_micros,metrics.impressions,metrics.clicks,metrics.ctr,metrics.conversions,segments.date",
                  "requestId": "mock-campaign-today-20260601"
                }
              },
              "篩選陣列": {
                "runAfter": {
                  "COST_ZERO_MockData": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "65fbb3c3-5c31-4ed1-bf7a-648e9125cedb"
                },
                "type": "Query",
                "inputs": {
                  "from": "@outputs('COST_ZERO_MockData')?['results']",
                  "where": "@equals(int(item()?['metrics']?['costMicros']),0)"
                }
              },
              "篩選陣列_1": {
                "runAfter": {
                  "篩選陣列": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "c482b5c6-1b79-4f36-a6e3-b62d9fa663b4"
                },
                "type": "Query",
                "inputs": {
                  "from": "@body('篩選陣列')\r\n",
                  "where": "@less(item()?['campaign']?['startDate'],addDays(utcNow(), -2, 'yyyy-MM-dd'))"
                }
              },
              "條件": {
                "actions": {
                  "遞增變數": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "b081aac9-2098-4025-91aa-ca92585c69ea"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                      "name": "anomalyCount",
                      "value": 1
                    }
                  },
                  "附加至字串變數": {
                    "runAfter": {
                      "遞增變數": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e68c5cb4-aae9-4278-b56e-a327c3263254"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "alertContent",
                      "value": "<tr><td>花費異常 COST ZERO</td><td>CampaignID：@{first(body('篩選陣列_1'))?['campaign']?['id']}</td><td>異常</td><td>花費 = 0</td></tr>\n"
                    }
                  }
                },
                "runAfter": {
                  "篩選陣列_1": [
                    "Succeeded"
                  ]
                },
                "expression": {
                  "and": [
                    {
                      "greater": [
                        "@length(body('篩選陣列_1'))",
                        0
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "25a48614-3367-447e-9d4b-ebfef02bedcc"
                },
                "type": "If"
              },
              "BUDGET_OVERSPEND_MockData": {
                "runAfter": {
                  "條件": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "564b7214-e4cb-404a-95b9-d031b48ba35a"
                },
                "type": "Compose",
                "inputs": {
                  "results": [
                    {
                      "campaign": {
                        "resourceName": "customers/1234567890/campaigns/2222",
                        "id": "2222",
                        "name": "2026_Summer_Sale",
                        "status": "ENABLED",
                        "startDate": "2026-05-13",
                        "endDate": "2026-06-01"
                      },
                      "campaignBudget": {
                        "amountMicros": "100000000000"
                      },
                      "metrics": {
                        "costMicros": "120000000000"
                      }
                    }
                  ],
                  "fieldMask": "campaign.id,campaign.name,campaign.status,campaign.start_date,campaign.end_date,campaign_budget.amount_micros,metrics.cost_micros",
                  "requestId": "mock-campaign-cumulative-20260601"
                }
              },
              "套用至各項": {
                "foreach": "@outputs('BUDGET_OVERSPEND_MockData')?['results']\r\n",
                "actions": {
                  "campaignDays": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "a4540562-dd37-4519-b839-58e96009efa3"
                    },
                    "type": "Compose",
                    "inputs": "@max(1, div(sub(ticks(item()?['campaign']?['endDate']), ticks(item()?['campaign']?['startDate'])), 864000000000))\r\n"
                  },
                  "expectedDaily": {
                    "runAfter": {
                      "campaignDays": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "416ddba9-bdbf-40d7-96c7-a6f1b4d16025"
                    },
                    "type": "Compose",
                    "inputs": "@div(int(item()?['campaignBudget']?['amountMicros']), 1000000)\r\n"
                  },
                  "條件_1": {
                    "actions": {
                      "遞增變數_1": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "07dc3b53-b4a0-4a16-9a08-64d0e966fe28"
                        },
                        "type": "IncrementVariable",
                        "inputs": {
                          "name": "anomalyCount",
                          "value": 1
                        }
                      },
                      "附加至字串變數_1": {
                        "runAfter": {
                          "遞增變數_1": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "50e0b5a1-d31e-47fa-8396-e03eff2d2d04"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "alertContent",
                          "value": "<tr><td>廣告累積花費異常</td><td>CampaignID：@{item()?['campaign']?['id']} 累積花費 NT$@{first(split(string(outputs('actualCumCostNT')), '.'))} 超出預算門檻 NT$@{first(split(string(mul(outputs('expectedCumNT'), 1.1)), '.'))}</td><td>異常</td><td>@{concat('+',first(split(string(sub(div(mul(outputs('actualCumCostNT'), 100), mul(outputs('expectedCumNT'), 1.1)), 100)), '.')), '%')}</td></tr>\n"
                        }
                      }
                    },
                    "runAfter": {
                      "expectedCumNT": [
                        "Succeeded"
                      ]
                    },
                    "expression": {
                      "or": [
                        {
                          "equals": [
                            "@greater(outputs('actualCumCostNT'), mul(outputs('expectedCumNT'), 1.1))",
                            true
                          ]
                        },
                        {
                          "equals": [
                            "@greater(outputs('actualCumCostNT'), mul(outputs('expectedCumNT'), 1.1))",
                            true
                          ]
                        },
                        {
                          "equals": [
                            "@less(outputs('actualCumCostNT'), mul(outputs('expectedCumNT'), 0.9))",
                            true
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "f86e0f9c-d3f0-4d08-b6b9-752873872be8"
                    },
                    "type": "If"
                  },
                  "actualCumCostNT": {
                    "runAfter": {
                      "expectedDaily": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "551b553c-3080-4323-8c24-ead6628125e2"
                    },
                    "type": "Compose",
                    "inputs": "@div(int(item()?['metrics']?['costMicros']), 1000000)"
                  },
                  "dailyExpectedNT": {
                    "runAfter": {
                      "actualCumCostNT": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "28ee8460-9e69-4d78-bec1-b9ad089fedbc"
                    },
                    "type": "Compose",
                    "inputs": "@div(outputs('expectedDaily'), outputs('campaignDays'))"
                  },
                  "elapsedDays": {
                    "runAfter": {
                      "dailyExpectedNT": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "9aa2b365-107d-4be3-a5ba-258576cb249f"
                    },
                    "type": "Compose",
                    "inputs": "@min(outputs('campaignDays'), max(1, div(sub(ticks(utcNow()), ticks(item()?['campaign']?['startDate'])), 864000000000)))\r\n"
                  },
                  "expectedCumNT": {
                    "runAfter": {
                      "elapsedDays": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "77f7114f-7575-4809-b7eb-2b72765f5ecf"
                    },
                    "type": "Compose",
                    "inputs": "@mul(outputs('dailyExpectedNT'), outputs('elapsedDays'))"
                  }
                },
                "runAfter": {
                  "BUDGET_OVERSPEND_MockData": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "8fb1fc63-7137-4c09-863f-f0dd5b3a9d9d"
                },
                "type": "Foreach"
              },
              "CTR_FLUCTUATION_MockData": {
                "runAfter": {
                  "套用至各項": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "d698a681-d4d5-4bbe-ad9d-7ccf9fc6ae99"
                },
                "type": "Compose",
                "inputs": {
                  "results": [
                    {
                      "campaign": {
                        "id": "3333",
                        "name": "2026_Brand_TW",
                        "status": "ENABLED"
                      },
                      "metrics": {
                        "ctr": 0.035
                      },
                      "segments": {
                        "date": "@{formatDateTime(addDays(utcNow(), -2), 'yyyy-MM-dd')}"
                      }
                    },
                    {
                      "campaign": {
                        "id": "3333",
                        "name": "2026_Brand_TW",
                        "status": "ENABLED"
                      },
                      "metrics": {
                        "ctr": 0.038
                      },
                      "segments": {
                        "date": "@{formatDateTime(addDays(utcNow(), -1), 'yyyy-MM-dd')}"
                      }
                    },
                    {
                      "campaign": {
                        "id": "3333",
                        "name": "2026_Brand_TW",
                        "status": "ENABLED"
                      },
                      "metrics": {
                        "ctr": 0.021
                      },
                      "segments": {
                        "date": "@{formatDateTime(utcNow(), 'yyyy-MM-dd')}"
                      }
                    }
                  ]
                }
              },
              "todayResults": {
                "runAfter": {
                  "CTR_FLUCTUATION_MockData": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "33fd3191-8bcb-43d2-9049-985ecc82d8f3"
                },
                "type": "Query",
                "inputs": {
                  "from": "@outputs('CTR_FLUCTUATION_MockData')?['results']",
                  "where": "@equals(item()?['segments']?['date'],formatDateTime(utcNow(), 'yyyy-MM-dd'))"
                }
              },
              "yesterdayResults": {
                "runAfter": {
                  "todayResults": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "46ec03c2-ed7a-4038-b9c4-c93de9a476e1"
                },
                "type": "Query",
                "inputs": {
                  "from": "@outputs('CTR_FLUCTUATION_MockData')?['results']",
                  "where": "@equals(item()?['segments']?['date'],addDays(utcNow(), -1, 'yyyy-MM-dd'))"
                }
              },
              "dayBeforeResults": {
                "runAfter": {
                  "yesterdayResults": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "7b2bffc7-5289-48cd-bfc2-0a68dcbbeb2c"
                },
                "type": "Query",
                "inputs": {
                  "from": "@outputs('CTR_FLUCTUATION_MockData')?['results']",
                  "where": "@equals(item()?['segments']?['date'],addDays(utcNow(), -2, 'yyyy-MM-dd'))"
                }
              },
              "ctrDiffToday": {
                "runAfter": {
                  "dayBeforeResults": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "399af618-c252-45b9-a471-20b40a84e2c1"
                },
                "type": "Compose",
                "inputs": "@sub(mul(float(first(body('todayResults'))?['metrics']?['ctr']), 10000), mul(float(first(body('yesterdayResults'))?['metrics']?['ctr']), 10000))"
              },
              "ctrDiffYesterday": {
                "runAfter": {
                  "ctrDiffToday": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "c39c98cc-bdbb-4786-a4c4-52fe507f3757"
                },
                "type": "Compose",
                "inputs": "@sub(mul(float(first(body('yesterdayResults'))?['metrics']?['ctr']), 10000), mul(float(first(body('dayBeforeResults'))?['metrics']?['ctr']), 10000))"
              },
              "ctrChangeRate": {
                "runAfter": {
                  "ctrDiffYesterday": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "c69c6be9-e943-44c0-a98c-8378ac19a7ac"
                },
                "type": "Compose",
                "inputs": "@if(equals(float(outputs('ctrDiffYesterday')), 0), 0, div(sub(float(outputs('ctrDiffToday')), float(outputs('ctrDiffYesterday'))), max(float(outputs('ctrDiffYesterday')), sub(0, float(outputs('ctrDiffYesterday'))))))"
              },
              "條件_2": {
                "actions": {
                  "遞增變數_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "02aad8e7-c792-41c2-90bd-39d4b7eb2a1a"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                      "name": "anomalyCount",
                      "value": 1
                    }
                  },
                  "CTR": {
                    "runAfter": {
                      "遞增變數_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "437bebc7-c340-4359-89a0-2eea02288798"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "alertContent",
                      "value": "<tr><td>CTR 成效異常</td><td>CampaignID ：@{first(body('todayResults'))?['campaign']?['id']}</td><td>異常</td><td>\n@{concat(first(split(string(mul(outputs('ctrChangeRate'), 100)), '.')), '%')\r\n}</td></tr>"
                    }
                  }
                },
                "runAfter": {
                  "ctrChangeRate": [
                    "Succeeded"
                  ]
                },
                "expression": {
                  "or": [
                    {
                      "greater": [
                        "@outputs('ctrChangeRate')",
                        0.2
                      ]
                    },
                    {
                      "less": [
                        "@outputs('ctrChangeRate')",
                        -0.2
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "22e637f5-6e82-4a4f-8ce8-879553068764"
                },
                "type": "If"
              },
              "SEM_HIGH_CPA_MockData": {
                "runAfter": {
                  "條件_2": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "f45273f0-c292-4ca9-9fa7-967efa503de9"
                },
                "type": "Compose",
                "inputs": {
                  "results": [
                    {
                      "campaign": {
                        "id": "2222",
                        "name": "2026_Summer_Sale"
                      },
                      "adGroup": {
                        "id": "3333",
                        "name": "競品關鍵字組"
                      },
                      "adGroupCriterion": {
                        "criterionId": "101",
                        "keyword": {
                          "text": "品牌A 競品",
                          "matchType": "BROAD"
                        }
                      },
                      "metrics": {
                        "costMicros": "14400000000",
                        "conversions": 20,
                        "costPerConversion": 720
                      }
                    },
                    {
                      "campaign": {
                        "id": "2222",
                        "name": "2026_Summer_Sale"
                      },
                      "adGroup": {
                        "id": "3333",
                        "name": "競品關鍵字組"
                      },
                      "adGroupCriterion": {
                        "criterionId": "102",
                        "keyword": {
                          "text": "優惠 折扣",
                          "matchType": "PHRASE"
                        }
                      },
                      "metrics": {
                        "costMicros": "8000000000",
                        "conversions": 8,
                        "costPerConversion": 1000
                      }
                    },
                    {
                      "campaign": {
                        "id": "2222",
                        "name": "2026_Summer_Sale"
                      },
                      "adGroup": {
                        "id": "3333",
                        "name": "競品關鍵字組"
                      },
                      "adGroupCriterion": {
                        "criterionId": "103",
                        "keyword": {
                          "text": "夏季 特賣 限定",
                          "matchType": "EXACT"
                        }
                      },
                      "metrics": {
                        "costMicros": "3200000000",
                        "conversions": 0,
                        "costPerConversion": 0
                      }
                    },
                    {
                      "campaign": {
                        "id": "2222",
                        "name": "2026_Summer_Sale"
                      },
                      "adGroup": {
                        "id": "4444",
                        "name": "品牌關鍵字組"
                      },
                      "adGroupCriterion": {
                        "criterionId": "201",
                        "keyword": {
                          "text": "品牌A 官網",
                          "matchType": "EXACT"
                        }
                      },
                      "metrics": {
                        "costMicros": "5000000000",
                        "conversions": 12,
                        "costPerConversion": 416.67
                      }
                    },
                    {
                      "campaign": {
                        "id": "2222",
                        "name": "2026_Summer_Sale"
                      },
                      "adGroup": {
                        "id": "4444",
                        "name": "品牌關鍵字組"
                      },
                      "adGroupCriterion": {
                        "criterionId": "202",
                        "keyword": {
                          "text": "品牌A 購買",
                          "matchType": "PHRASE"
                        }
                      },
                      "metrics": {
                        "costMicros": "6500000000",
                        "conversions": 18,
                        "costPerConversion": 361.11
                      }
                    }
                  ]
                }
              },
              "targetCPA": {
                "runAfter": {
                  "SEM_HIGH_CPA_MockData": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "9ac4eeed-18ce-4d27-a3a9-03da9d857be0"
                },
                "type": "Compose",
                "inputs": 500
              },
              "highCPAKeywords": {
                "runAfter": {
                  "targetCPA": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "5ec4ddad-4fd8-4fe1-a234-45deade521ec"
                },
                "type": "Query",
                "inputs": {
                  "from": "@outputs('SEM_HIGH_CPA_MockData')?['results']",
                  "where": "@or(greater(item()?['metrics']?['costPerConversion'], mul(outputs('targetCPA'), 1.2)), and(less(item()?['metrics']?['conversions'], 1), greater(float(item()?['metrics']?['costMicros']), 0)))"
                }
              },
              "條件_3": {
                "actions": {
                  "遞增變數_3": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3912f9bc-ca1a-47a4-a643-59f8f85817f9"
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                      "name": "anomalyCount",
                      "value": 1
                    }
                  },
                  "SEM": {
                    "runAfter": {
                      "遞增變數_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "fc94f14e-e8e5-4c94-aea4-d9c6fefd2332"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "alertContent",
                      "value": "<tr><td>SEM 差勁關鍵字</td><td>CampaignID：@{first(body('highCPAKeywords'))?['campaign']?['id']} / AdGroup：@{first(body('highCPAKeywords'))?['adGroup']?['name']}</td><td>異常</td><td>@{concat(length(body('highCPAKeywords')), '筆')}</td></tr>\n"
                    }
                  },
                  "建立_CSV_資料表": {
                    "runAfter": {
                      "選取": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ebc03b43-5bd8-42ab-b790-d8e1a4389984"
                    },
                    "type": "Table",
                    "inputs": {
                      "from": "@body('選取')",
                      "format": "CSV"
                    }
                  },
                  "選取": {
                    "runAfter": {
                      "SEM": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "6a9ef1ff-1820-4cd7-8efa-614095f3e9b1"
                    },
                    "type": "Select",
                    "inputs": {
                      "from": "@body('highCPAKeywords')",
                      "select": {
                        "Campaign": "@item()?['campaign']?['name']",
                        "AdGroup": "@item()?['adGroup']?['name']",
                        "Keyword": "@item()?['adGroupCriterion']?['keyword']?['text']",
                        "MatchType": "@item()?['adGroupCriterion']?['keyword']?['matchType']",
                        "CostMicros": "@item()?['metrics']?['costMicros']",
                        "Conversions": "@item()?['metrics']?['conversions']",
                        "CostPerConversion": "@item()?['metrics']?['costPerConversion']",
                        "14日平均目標CPA差": "@if(less(item()?['metrics']?['conversions'], 1), '無轉換(花費過高)', concat(if(greaterOrEquals(item()?['metrics']?['costPerConversion'], outputs('targetCPA')), '+', ''), string(int(div(mul(sub(item()?['metrics']?['costPerConversion'], outputs('targetCPA')), 100), outputs('targetCPA')))), '%'))"
                      }
                    }
                  },
                  "附加至字串變數_5": {
                    "runAfter": {
                      "建立_CSV_資料表": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "777986ed-670a-4e61-a161-7d0776b72998"
                    },
                    "type": "AppendToStringVariable",
                    "inputs": {
                      "name": "alertContent",
                      "value": "</table><br><br><strong>【SEM 差勁關鍵字明細】</strong><table border=\"1\" style=\"border-collapse:collapse\"><tr><th>Campaign</th><th>AdGroup</th><th>關鍵字</th><th>比對類型</th><th>CPA (NT$)</th></tr>"
                    }
                  },
                  "套用至各項_1": {
                    "foreach": "@body('highCPAKeywords')",
                    "actions": {
                      "每筆關鍵字": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "7c5b3143-70ae-44c8-9d71-bed951625a73"
                        },
                        "type": "AppendToStringVariable",
                        "inputs": {
                          "name": "alertContent",
                          "value": "<tr><td>@{item()?['campaign']?['id']}</td><td>@{item()?['adGroup']?['name']}</td><td>@{item()?['adGroupCriterion']?['keyword']?['text']}</td><td>@{item()?['adGroupCriterion']?['keyword']?['matchType']}</td><td>@{item()?['metrics']?['costPerConversion']}</td></tr>\n"
                        }
                      }
                    },
                    "runAfter": {
                      "附加至字串變數_5": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "80fd26bb-bf9e-4fe0-ad02-51b06b7877d1"
                    },
                    "type": "Foreach"
                  }
                },
                "runAfter": {
                  "highCPAKeywords": [
                    "Succeeded"
                  ]
                },
                "expression": {
                  "and": [
                    {
                      "greater": [
                        "@length(body('highCPAKeywords'))",
                        0
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "d046a703-a53e-4455-a455-7f91fa6cfc9a"
                },
                "type": "If"
              },
              "關閉明細表": {
                "runAfter": {
                  "條件_3": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "5e6d6aeb-1ae7-4ebf-8d3b-4127eaa1b099"
                },
                "type": "AppendToStringVariable",
                "inputs": {
                  "name": "alertContent",
                  "value": "</table>"
                }
              },
              "組合AI請求內容": {
                "runAfter": {
                  "關閉明細表": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "a949c058-7769-4373-9ccd-7c974cbabce2"
                },
                "type": "Compose",
                "inputs": "@concat('請用繁體中文，根據以下Google Ads廣告異常監控結果，寫一段2到3句話的精簡摘要說明：今天監控時間為', formatDateTime(utcNow(), 'yyyyMMdd'), '，共發現', string(variables('anomalyCount')), '組異常情況。請用專業但易懂的語氣描述監測狀況，並建議後續應確認的方向。')"
              },
              "傳送訊息": {
                "runAfter": {
                  "組合AI請求內容": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "7e2cbae2-77b5-47d2-8dd2-0043662483c9"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_foundry-20gpt-20api-5f1534847223faf6ac-5fa79b8a9c21bf5fc1",
                    "operationId": "SendMessage",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_foundry-20gpt-20api-5f1534847223faf6ac-5fa79b8a9c21bf5fc1"
                  },
                  "parameters": {
                    "Content-Type": "application/json",
                    "body/model": "gpt-5",
                    "body/input": "@outputs('組合AI請求內容')"
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "剖析JSON": {
                "runAfter": {
                  "傳送訊息": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "13cf9541-40a5-44e8-9693-6ed61471f6f2"
                },
                "type": "ParseJson",
                "inputs": {
                  "content": "@body('傳送訊息')",
                  "schema": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "object": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "model": {
                        "type": "string"
                      },
                      "output": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "content": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          }
                        }
                      },
                      "usage": {
                        "type": "object",
                        "properties": {
                          "input_tokens": {
                            "type": "integer"
                          },
                          "output_tokens": {
                            "type": "integer"
                          },
                          "total_tokens": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "設定變數": {
                "runAfter": {
                  "剖析JSON": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "4301a9b3-14ad-4e91-b3e5-ad5ece9c6881"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "aiSummary",
                  "value": "@first(last(body('剖析JSON')?['output'])?['content'])?['text']"
                }
              },
              "條件_4": {
                "actions": {
                  "傳送電子郵件_(V2)": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "e6eac844-40de-4162-9765-c898bd6f7308"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_office365",
                        "operationId": "SendEmailV2",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
                      },
                      "parameters": {
                        "emailMessage/To": "Yeega@YeeGa.onmicrosoft.com",
                        "emailMessage/Subject": "@{concat('[Google Ads 異常監控] ', formatDateTime(utcNow(), 'yyyy/MM/dd'), ' 發現 ', string(variables('anomalyCount')), ' 組異常')}\n",
                        "emailMessage/Body": "<p class=\"editor-paragraph\">最近監控時間為 '@{formatDateTime(utcNow(), 'yyyyMMdd')}'，發現 @{variables('anomalyCount')} 組異常情況。</p><br><p class=\"editor-paragraph\">@{variables('aiSummary')}</p><p class=\"editor-paragraph\"><br>@{variables('alertContent')}</p><br><p class=\"editor-paragraph\">此信件由系統自動產生，請勿回覆。</p><br>",
                        "emailMessage/Attachments": [
                          {
                            "Name": "SEM差勁關鍵字附件.csv",
                            "ContentBytes": "@concat(decodeUriComponent('%EF%BB%BF'), body('建立_CSV_資料表'))"
                          }
                        ],
                        "emailMessage/Importance": "Normal"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                },
                "runAfter": {
                  "設定變數": [
                    "Succeeded"
                  ]
                },
                "expression": {
                  "and": [
                    {
                      "greater": [
                        "@int(variables('anomalyCount'))",
                        0
                      ]
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "d613dfd7-e5bd-4a2f-bbdb-cf349d53b4d5"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "and": [
              {
                "greater": [
                  "@length(coalesce(body('Execute_Google_Ads_Query_(GAQL)')?['results'], json('[]')))",
                  0
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "8fd8e005-ec90-410f-93d7-e1ba0a103975"
          },
          "type": "If"
        },
        "alertContent": {
          "runAfter": {
            "Execute_Google_Ads_Query_(GAQL)": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "476b424e-001f-4022-819b-0e4d8f31a4f4"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "alertContent",
                "type": "string",
                "value": "<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\"><tr><th>監控類別</th><th>監控項目</th><th>狀態</th><th>異常程度</th></tr>\n"
              }
            ]
          }
        },
        "anomalyCount": {
          "runAfter": {
            "alertContent": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5e3a27d1-ac6c-46b5-b728-fffbfeb5098b"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "anomalyCount",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "初始化變數": {
          "runAfter": {
            "anomalyCount": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "bdf33023-04f0-4cb4-a736-c3bc4c534fd2"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "aiSummary",
                "type": "string",
                "value": "AI摘要產生中"
              }
            ]
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}